*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.container{
    height: 700px;
    width: 900px;
    border: 1px;
    color: black;
    padding: 40px 30px 10px 30px;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
border-radius: 1px solid black;
text-align: center;
margin-left: 600px;
border: 1px solid black;
}
.content{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;

}
body{
    background-color: whitesmoke;
}


